body{
    margin: 0%;
    padding: 0%;
}
.t1{
    color: black;
    float: left;
    font-size: 30px;
    background: gray;
    border-radius: 100%;
}ul{
    float: right;
    list-style: none;
}
li{
    float: left;
    padding: 10px;
    font-size: 22px;
    color: white;
}
nav{
    height: 67px;
    background-color: aqua;
}
a{
    text-decoration: none;
    color: black;
}
.btn1{
    background: red;
    border-radius: 100%;
}